.slider-container {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.slider-page {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
}

.slider-item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  white-space: normal;
}

.slider-item>div {
  margin: auto;
}
