.sliderContainer {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.sliderPage {
  width: 100%;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.sliderItem {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
}

.slider-item>div {
  margin: auto;
}
